*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif; 
    color: #31405b;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    margin-bottom: 30px;
}

.row::after{
    display: table;
    content: "";
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.bg-inner{
    background-color: #f2f8f6;
}

.title-medium{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 28px;
    color: #31405b;
    font-weight: 700;
}

.title-micro{
    margin: 0;
    margin-bottom: 15px;
    color: #31405b;
    font-weight: 700;
    font-size: 20px;
}

.header{
    position: relative;
    height: 800px;
    padding-top: 45px;

    background-color:#4b736d;
    background: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: #fff;
}
.container::after{
    content: "";
    clear: both;
    display: table;
}

.logo{
    float: left;
    width: 270px;

    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #fff;
}

.logo-link{
    color: #fff;
    text-decoration: none;

}

.navigation{
    width: 870px;
    float: right;
    padding-top: 15px;
    text-align: right;

    font-size: 22px;
    color: #fff;
}

.navigation-link{
    display: inline-block;
    margin-right: 50px;

    color: #fff;
    text-decoration: none;
}

.navigation-link:last-child{
    margin-right: 0;
}

.navigation-link:hover{
    text-decoration: underline;
}

.header-title{
    margin: 0;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;
}

.header-subtitle{
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.header-content{
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.header-scroll{
    width: 200px;
    position: absolute;
    left:50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
}

.header-scroll-text{
    font-size: 16px;
    margin-bottom: 12px;
}

/* header */

.header-inner{
    background-image:url('../img/headerinnerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* header-inner */

.section-content{
    padding-top: 120px;
    padding-bottom: 120px;
}

.content-row{
    margin-bottom: 120px;
}

.content-row::after{
    content: "";
    clear: both;
    display: table;
}

.content-row:last-child{
    margin-bottom: 0;
}

.content-description{
    width: 470px;
    float: left;
}

.content-img-left{
    float: left !important;
}

.content-text-right{
    float: right !important;
    width: 470px;
}

.content-title{
    margin: 0;
    margin-bottom: 20px;
    font-size: 54px;
    color: #31405b;
}

.content-text{
    margin-bottom: 40px;
}

.content-text p{
    font-size: 20px;
    color: #31405b;
    line-height: 1.6;    
}

.content-text a{
    color: #138ece;
}

.button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* height: 50px; */
    display: inline-block;
    background-color: #0ac883;
    border-radius: 50px;

    font-size: 20px;
    color: #fff !important;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5;
    transition: all 0.2s ease-in;
    border: 3px solid #0ac883;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);

    cursor: pointer;
}

.button:focus{
    outline: none;
    border: 3px solid #07a96e;
    box-shadow: 0px 0px 10px 0 #08e997;
}

.button:hover{
    background-color: #06e492;
}

.button:active{
    background-color: #07a96e;
}

.button-form{
    padding-right: 30px;
    padding-left: 30px;
}

.content-img{
    width: 570px;
    float: right;
}
/*// section-content */

.section-content-inner{
    padding-top: 70px;
    padding-bottom: 120px;
}

/* section-content-inner */

.contacts-address{
    float: left;
    width: 470px;
    padding-top: 40px;
}
/* contacts-address */

.contacts-form{
    float: right;
    width: 630px;
}

/* /contacts-form */
.contacts-list{
    margin: 0;
    padding: 0;
    padding-left: 70px;
    margin-bottom: 40px;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
}

.contacts-list-item{
    position: relative;
    margin-bottom: 10px;
} 

.contacts-list-item::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 4px;
    left: -48px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.contact-list-item-phone::before{
    background-image: url('../img/icons/phone-solid.svg');
}

.contact-list-item-email::before{
    background-image: url('../img/icons/envelope-solid.svg');
}

.contact-list-item-address::before{
    background-image: url('../img/icons/map-marker-alt-solid.svg');
}

.map-holder{
    box-shadow: 0px 10px 20px 0 rgba(211, 211, 211, 1);
}

.map-holder img{
    display: block;
}

.form{
    padding:40px;

    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
    border-radius: 2px;
}

.formgroup{
    margin-bottom: 30px;
}

.label-radio{
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}

.custom-radio{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -3px;
    vertical-align: middle;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;
    cursor: pointer;
}

.custom-radio::before{
    position: absolute;
    display: block;
    content: "";
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #2ab698;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.real-radio{
    width: 0;
    height: 0;
    position: absolute;
}

.real-radio:focus + .custom-radio{
    border: 2px solid #2ab698;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5) ;
}


.real-radio:checked + .custom-radio::before{
    display: block;
}

.label-checkbox{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.real-checkbox:checked + .custom-checkbox::before{
    display: block;
}

.real-checkbox{
    width: 0;
    height: 0;
    position: absolute;
}
.real-checkbox:focus + .custom-checkbox{
    border: 2px solid #2ab698;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5) ;
}

.custom-checkbox{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    /* margin-top: -3px; */
    /* vertical-align: middle; */
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    cursor: pointer;
}

.custom-checkbox::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    display: block;
    width: 15px;
    height: 12px;

    background-image: url(../img/icons/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: none;
}

.input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif; 
    color: #31405b;
}

.input::placeholder{
    color:rgba(49, 64, 91, 0.5)
}

.input:focus{
    outline: 0;
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
}

.input-inline{
    float: left;
    width: calc(50% - 5px);
    margin-right: 10px;
}

.input-inline:last-child{
    margin-right: 0;
}

.section-tours{
    padding-top: 65px;
    padding-bottom: 120px;
}

.tours-title{
    margin: 0;
    margin-bottom: 80px;
    font-size: 54px;
    line-height: 1.2;
    text-align: center;
    
}

.tours-card{
    width: 100%;
    max-width: 570px;

}

.tours-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.tour-name{
    padding-bottom: 26px;
    padding-top: 26px;
    padding-left: 30px;
    display: block;
    
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    line-height: 1.1;
    background-color: #a6a6a6;
    text-decoration: none;

    transition: all 0.2s ease-in;
}

.tour-name:hover{
    color: black;
}

.tours-card-1{
    margin-bottom: 30px;
}

.tours-card-1:last-child{
    margin-bottom: 0;
}

.tour-name-1{
    background-color: #a6a6a6;
}

.tour-name-2{
    background-color:#c1b19b;
}

.tour-name-3{
    background-color: #66b0be;
}

.tour-name-4{
    background-color: #876f56;
}

.tour-name-5{
    background-color: #27695e;
    padding-bottom: 33px;
}

.tours-column-1{
    float: left;
    max-width: 670px;
}

.tours-column-2{
    float: right;
}

.section-article{
    background-color: #f2f8f6;
    padding-top: 70px;
    padding-bottom: 120px;
}

.article-menu{
    float: left;
    max-width: 270px;
}

.menu-title{
    margin: 0;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}



.menu-list{
    list-style-type: none;
    padding: 0;
}

.menu-list li{
    padding: 15px 0;
    border-top: 1px solid #d6d9d8;
}

.menu-list li:last-child{
    border-bottom: 1px solid #d6d9d8;
}

.menu-list a{
    text-decoration: none;
    color: #319cd3;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.2s ease-in;
}

.menu-list a:hover{
    color: purple ;
}

.menu-list .menu-active{
        color: #e04e4e;
        font-weight: 700;
}

.article{
    float: right;
    width: 770px;
    font-size: 20px;
    font-weight: 400;
}

.article-title{
    margin: 0;
    margin-bottom: 30px;
    font-size: 54px;
    font-weight: 700;
}
.article p{
    line-height: 1.6;
    margin: 0;
    margin-bottom: 30px;
}

.article a{
    color: #138ece;;
}

.hiking{
    display: block;
    margin-bottom: 40px;
}

.footer{
    background-color:#265847 ;
    padding-top:80px;
    padding-bottom:100px;
    color: #fff;
}

.footer-left{
    float: left;
    width: 270px;
}

.footer-right{
    float: right;
    max-width: 870px;    
}

.footer-right::after{
    display: table;
    clear: both;
    content: "";
}

.footer-logo{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 15px;
}

.footer-about{
    font-size: 16px;
    line-height: 1.625;
}

.footer-col{
    font-size: 18px;
    float: left;
    margin-right: 30px;
}

.footer-col:last-child{
    margin-right: 0;
}

.footer-col-info{
    width: 200px;
}

.footer-col-services{
    width: 240px;
}

.footer-col-contacts{
    width: 200px;
}

.footer-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.footer-list-item{
    margin-bottom: 10px;
}

.footer-list-link{
    color: #fff;
    text-decoration: none;
}

.footer-list-link:hover{
    text-decoration: underline;
}

